/*General*/
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85)
}

a { 
    transition: all 300 ms ease;
}
btn { 
    transition: all 300 ms ease;
}
/* Navigation Bar*/

nav, .nav-links {
    display:flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}